@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

footer {
    background-color: #3498DB;
}
footer h2 {
    font-family: 'Merriweather';
    font-size: 24px;
}
.icon-link {
    font-size: 36px;
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
}
.icon-link:hover  {
    color: white;
    transform: scale(1.1);
}

.email-icon {
    margin-right: 0;
}
