@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

header {
    background-color: #3498DB;
}
header h1 {
    font-family: 'Merriweather';
}
header a {
    font-size: 36px; 
    text-decoration: none; 
    color: black; 
}
header a:hover {
    color: #f5f5f5; 
}
