@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

header {
    background-color: #3498DB;
}
header h1 {
    font-family: 'Merriweather';
    font-size: 28px;
}
